.body {
  background-color: #fff;
  font-family: "Karla", sans-serif;
}

.intro-section {
  /* background-image: url("../images/background-biru.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 75px 95px;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  color: #ffffff;
}
@media (max-width: 991px) {
  .intro-section {
    padding-left: 50px;
    padding-rigth: 50px;
  }
}
@media (max-width: 767px) {
  .intro-section {
    padding: 28px;
  }
}
@media (max-width: 575px) {
  .intro-section {
    min-height: auto;
  }
}

.brand-wrapper .logo {
  height: 35px;
}

@media (max-width: 767px) {
  .brand-wrapper {
    margin-bottom: 35px;
  }
}

.intro-content-wrapper {
  width: 371px;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.intro-content-wrapper .intro-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 18px;
}
.intro-content-wrapper .intro-text {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
}
.intro-content-wrapper .btn-read-more {
  background-color: #fff;
  padding: 13px 30px;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.intro-content-wrapper .btn-read-more:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 767px) {
  .intro-section-footer {
    margin-top: 35px;
  }
}

.intro-section-footer p {
  font-size: 14px;
  color: #f6f6f6;
  margin-bottom: 0;
}

.form-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .form-section {
    padding: 35px;
  }
}
@media (max-width: 575px) {
  .form-section {
    padding: 26px;
  }
}

.login-wrapper {
  width: 410px;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 575px) {
  .login-wrapper {
    width: 100%;
  }
}
.login-wrapper .form-control {
  min-height: 55px;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  background-color: #f4f4f4;
  padding: 19px 25px 18px;
  margin-bottom: 18px;
}
.login-wrapper .form-control::-webkit-input-placeholder {
  color: #919aa3;
}
.login-wrapper .form-control::-moz-placeholder {
  color: #919aa3;
}
.login-wrapper .form-control:-ms-input-placeholder {
  color: #919aa3;
}
.login-wrapper .form-control::-ms-input-placeholder {
  color: #919aa3;
}
.login-wrapper .form-control::placeholder {
  color: #919aa3;
}

.login-title {
  font-size: 29px;
  color: #0d2366;
  margin-bottom: 18px;
}

.login-check-box {
  padding-left: 33px;
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .login-check-box {
    margin-bottom: 10px;
  }
}
.login-check-box .custom-control-label::before {
  width: 20px;
  height: 20px;
  border: solid 1px #d5dae2;
  left: -33px;
  top: 0px;
  background-color: transparent;
}
.login-check-box .custom-control-label::after {
  left: -33px;
  width: 20px;
  height: 20px;
  top: 0;
}

.login-btn {
  padding: 17px 40px 16px 41px;
  border-radius: 4px;
  background-color: #007bff;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
}
.login-btn:hover {
  border: 1px solid rgba(6, 12, 34, 0.98);
  background-color: transparent;
  color: rgba(6, 12, 34, 0.98);
}

.forgot-password-link {
  font-size: 14px;
  color: rgba(6, 12, 34, 0.98);
}

.social-login-title {
  font-size: 15px;
  color: #919aa3;
  display: -webkit-box;
  display: flex;
  margin-bottom: 23px;
}
.social-login-title::before,
.social-login-title::after {
  content: "";
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f4f4f4),
    to(#f4f4f4)
  );
  background-image: linear-gradient(#f4f4f4, #f4f4f4);
  -webkit-box-flex: 1;
  flex-grow: 1;
  background-size: calc(100% - 20px) 1px;
  background-repeat: no-repeat;
}
.social-login-title::before {
  background-position: center left;
}
.social-login-title::after {
  background-position: center right;
}

.social-login-links {
  text-align: center;
  margin-bottom: 0;
}

.social-login-link {
  display: inline-block;
  border-radius: 4px;
  border: solid 1px #d5dae2;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: #000000;
  margin-top: 14px;
}
@media (max-width: 767px) {
  .social-login-link {
    font-size: 10px;
    padding: 10px 12px;
  }
}
.social-login-link img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  -o-object-fit: contain;
  object-fit: contain;
}
.social-login-link + .social-login-link {
  margin-left: 24px;
}
@media (max-width: 767px) {
  .social-login-link + .social-login-link {
    margin-left: 6px;
  }
}

.login-wrapper-signup-text {
  font-size: 18px;
  color: #000;
  padding-top: 50px;
  width: 410px;
  max-width: 100%;
}
@media (max-width: 575px) {
  .login-wrapper-signup-text {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
.login-wrapper-signup-text a {
  color: #240aad;
}

/*# sourceMappingURL=login.css.map */
